{% extends ":Storefront:layout.html.twig" %}

{% block title %}{{ 'app.homepage' | trans }}{% endblock %}

{% block content %}
    <div class="banner">
        {% for slide in slides %}
            <div><img class="mySlides" src="{{ asset('uploads/' ~ slide.image) }}" /></div>
        {% endfor %}

        <a class="btn-floating btn-floating-left" onclick="plusDivs(1)"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <a class="btn-floating btn-floating-right" onclick="plusDivs(-1)"><i class="glyphicon glyphicon-chevron-right"></i></a>
    </div>

    <script>
        var slideIndex = 1;
        showDivs(slideIndex);
        function plusDivs(n) {
            showDivs(slideIndex += n);
        }
        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            if (n > x.length) {slideIndex = 1}
            if (n < 1) {slideIndex = x.length}
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            x[slideIndex-1].style.display = "block";
        }
    </script>

    <div class="products-item clearfix">
        {% for product in products %}
            <div class="products">
                <div class="image"><a href="{{ path('storefront_product_show', {id: product.id}) }}"><img src="{{ asset('uploads/' ~ product.image) }}" /></a></div>
                <div class="details">
                    <div class="title"><a href="{{ path('storefront_product_show', {id: product.id}) }}">{{ product.name }}</a></div>
                    <div class="price">{{ product.price | number_format(0, '.', ',') }} تومان</div>
                    <div class="action">
                        <a href="{{ path('cart_add', {id: product.id}) }}">{{ 'app.add-to-cart' | trans }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="news-item clearfix">
        <div class="news-header"><span>{{ 'app.newslist' | trans }}</span></div>
        {% for news in news %}
            <div class="news">
                <div class="image"><a href="{{ path('storefront_news_show', {id: news.id}) }}"><img src="{{ asset('uploads/' ~ news.image) }}" /></a></div>
                <div class="title"><a href="{{ path('storefront_news_show', {id: news.id}) }}">{{ news.title }}</a></div>
                <div class="brief"><span>{{ news.brief }}</span></div>
                <div class="action"><a href="{{ path('storefront_news_show', {id: news.id}) }}">{{ 'app.readmore' | trans }}</a></div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block footer %}
    <div class="footer-widgets-top"></div>
    <div class="footer"></div>
{% endblock %}