{% extends ":Storefront:layout.html.twig" %}

{% block title %}{{ 'app.homepage' | trans }}{% endblock %}

{% block content %}
            {% for product in products %}
                <div class="products">
                    <div><img src="{{ asset('uploads/' ~ product.image) }}" /></div>
                    <div class="title"><a href="{{ path('storefront_product_show', {id: product.id}) }}">{{ product.name }}</a></div>
                    <div class="price">{{ product.price | number_format(0, '.', ',') }} تومان</div>
                </div>
            {% endfor %}
{% endblock %}