{% extends ":Storefront:layout.html.twig" %}

{% block title %}{{ 'app.productlist' | trans }}{% endblock %}

{% block content %}
    <div class="products-header">
        <div class="cell">
            <div class="title">{{ 'app.productlist' | trans }}</div>
            <div class="header-title">
                <a href="{{ path('storefront_product_list') }}">{{ 'app.productlist' | trans }}</a>
                /
                <a href="{{ path('homepage') }}">{{ 'app.homepage' | trans }}</a>
            </div>
        </div>
    </div>
    <div class="products-item clearfix">
        {% for product in products %}
            <div class="products">
                <div class="image"><a href="{{ path('storefront_product_show', {id: product.id}) }}"><img src="{{ asset('uploads/' ~ product.image) }}" /></a></div>
                <div class="details">
                    <div class="title"><a href="{{ path('storefront_product_show', {id: product.id}) }}">{{ product.name }}</a></div>
                    <div class="price">{{ product.price | number_format(0, '.', ',') }} تومان</div>
                    <div class="action">
                        <a href="{{ path('cart_add', {id: product.id}) }}">{{ 'app.add-to-cart' | trans }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}