{% extends ":Admin:layout.html.twig" %}

{% block title %}{{ 'app.categorylist' | trans }}{% endblock %}

{% block header %}
    <div class="top-header">
        <div class="header-name"><span><i class="glyphicon glyphicon-pencil"></i>{{ 'app.categorylist' | trans }}</span></div>
        <div class="header-link"><a href="{{ path('admin_category_new') }}"> {{ 'app.newcategory' | trans }} </a></div>
    </div>
{% endblock %}


{%  block content %}
    <table>
        <tr class="table-header">
            <td>id</td>
            <td>{{ 'app.image' }}</td>
            <td>{{ 'app.category.title' | trans }}</td>
            <td>{{ 'app.operations' | trans }}</td>
        </tr>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td><img src="{{ asset('uploads/' ~ category.image) }}" /></td>
                <td><a href="{{ path('admin_category_update', {id: category.id}) }}" class="edit">{{ category.title }}</a></td>
                <td>
                    <a href="{{ path('admin_category_delete', {id: category.id}) }}" class="delete"> {{ 'app.product.delete' | trans }} </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}