{% extends ":Admin:layout.html.twig" %}

{% block title %}{{ 'app.edit' | trans }}{% endblock %}

{% block header %}
    <div class="top-header">
        <div class="header-name">
            <a href="{{ path('admin_category_list') }}"><i class="glyphicon glyphicon-tags"></i>{{ 'app.categorylist' | trans }} </a>
            <span id="slash">/</span>
            <span> {{ 'app.edit' | trans }}</span>
        </div>
    </div>
{% endblock %}

{%  block content %}
    <div class="category-form">
        {{ form_start(form) }}

        <div class="category-title">
            {{ form_row(form.title) }}
        </div>

        <div class="category-image clearfix">
            <img src="{{ asset('uploads/' ~ form.vars.data.image) }}" />
            <button><span>{{ 'app.add.image' | trans}}</span>{{ form_widget(form.file) }}</button>
        </div>
        {{ form_widget(form) }}

        <div class="buttons">
            <a href=" {{ path('admin_category_list') }} ">{{ 'app.cancel' | trans}}</a>
            <input type="submit" value="{{ 'app.savecategory' | trans}}" class="product-submit" />
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}